<!-- backend/views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <strong>Nome:</strong> <%= user.nome %><br>
                <strong>E-mail:</strong> <%= user.email %><br>
                <strong>Endereço:</strong> <%= user.endereco %><br>
                <strong>Telefone:</strong> <%= user.telefone %><br>
                <strong>CPF:</strong> <%= user.cpf %><br>
                <strong>Data de Nascimento:</strong> <%= user.dataNascimento %><br>
                <hr>
            </li>
        <% }); %>
    </ul>
</body>
</html>
